@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbars */
.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.hide-scroll-bar {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

  
  